.flexbox-container-with-inform-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: white;
    height: 100%;
    border-radius: 30px;
    padding: 30px;
    margin-top: 25px;
}

.text-div-style {
    display: flex;
    gap: 15px;
    align-items: center;
}

.table-div-style {
    margin-top: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 8px;
    padding-bottom: 20px;
}

.ant-table-layout-fixed table {
    table-layout: auto;
}

.ant-table-fixed {
    table-layout: fixed;
}

.ant-table-tbody > tr > td {
    word-wrap: break-word;
    word-break: break-all;
}
